@model ColegioPublic.ViewsModel.UserVM.IndexUserViewModel
@{
    ViewBag.Title = "Lista Usuarios Sistema";
}

<h2>Lista de Actividades</h2>

@using (Ajax.BeginForm("_ListUser", "User", new AjaxOptions
{//GetPatients is name of method in PatientController
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "paged-section",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
    @Html.LabelFor(x => x.q, new { })
    <div class="input-group">

        @Html.TextBoxFor(x => x.q, new { @class = "form-control" })
        <button class="btn btn-success btn-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

}
<hr />
<div class="button-group text-right">
    <a href="@Url.Action("AddEditUser","User")" class="btn btn-success"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Nuevo Usuario</a>
</div>

<div class="table-responsive" id="paged-section">
    @{Html.RenderAction("_ListUser", Model);}
</div>


