@model ColegioPublic.ViewsModel.ExamenVM.AddEditExamenViewModel


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
 
                    <div class="form-group row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo Examen</th>
                                <th>Fecha Examen</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody  class="new-Examen">
                             @foreach (var item in Model.LstExamenes)
                             {
                            <tr>
                                <td>@item.TipoExamenNombre</td>
                                <td>@item.NombreTipoExamen</td>
                                <td>@item.FechaExamen.Value.ToShortDateString()</td>
                                <td> <a href="#" class="btn btn-red delete">Eliminar</a></td>
                            </tr>
                             }
                        </tbody>
                    </table>
                           
                    </div>

            </div>
        </div>
    </div>
</div>








