@model ColegioPublic.ViewsModel.ExamenVM.AddEditExamenViewModel


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form class="form" action="@Url.Action("AddEditExamen","Examen")" method="post">
                    <div class="form-group row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo Examen</th>
                                <th>Fecha Examen</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody  class="new-Examen">
                             @foreach (var item in Model.LstExamenes)
                             {
                            <tr>
                                <td class="hide">@item.TipoExamenId</td>
                                <td>@item.NombreTipoExamen</td>
                                <td>@item.FechaExamen.Value.ToShortDateString()</td>
                                <td> <a href="#" class="btn btn-red delete">Eliminar</a></td>
                            </tr>
                             }
                        </tbody>
                    </table>
                           
                    </div>
                    <div class="form-actions text-right">
                        <input type="button" id="addExamen" name="addExamen" value="Agregar Examen" class="btn btn-dark" />
                     
                    </div>
                    <div class="form-actions">
                        <div class="card-body">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>








