@model ColegioPublic.ViewsModel.NotificacionVM._ListNotificacionViewModel
@{
    ViewBag.Title = "_ListNotificacion";
}

<h2>Lista de Notificaciones</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.LstRegistro.Count > 0)
        {
            foreach (var item in Model.LstRegistro)
            {
        <tr>
            <td>@item.Comentario</td>
            <td>@item.FechaRegistro.Value.ToShortDateString()</td>
            <td>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones</button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(696px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="@Url.Action("AddEditNotificacion","Notificacion", new {NotificacionId = item.NotificacionId})">Editar</a>
                        <a class="dropdown-item eliminarNotificacion" href="@Url.Action("Delete","Notificacion", new {NotificacionId = item.NotificacionId})">Eliminar</a>
                    </div>
                </div>
            </td>
        </tr>
            }
        }

    </tbody>
</table>

